<!doctype html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<body>
  <div class="top-on-page">
      <h1><font color=#fffff0>How to use</font></h1><br>
      <h2><font size=20px><p>This service is used to predict the damage caused by an earthquake depending on the parameters brin input. Details about the parameters are:</p></font></h2>
      <h2><font size=20px><p>City</p></font></h2><br>
      <h2><font size=20px><p>Select the city you wish to inquire about.</p></font></h2><br>
      <h2><font size=20px><p>Building Height</p></font></h2><br>
      <h2><font size=20px><p>Enter the height of the building in feet.</p></font></h2><br>
      <h2><font size=20px><p>Condition</p></font></h2><br>
      <h2><font size=20px><p>Condition defines the state of the building at present, with a higher value signifying worse condition.</p></font></h2><br>
      <h2><font size=20px><p>Floor Count</p></font></h2><br>
      <h2><font size=20px><p>Number of floors in the building.</p></font></h2><br>
      <h2><font size=20px><p>Ward ID</p></font></h2><br>
      <h2><font size=20px><p>This defines the ward ID of the area in which the building is situated at. This information is used by our model to determine the damage the building will take.</p></font></h2><br>
      <h2><font size=20px><p>Area (Sq.Ft.)</p></font></h2><br>
      <h2><font size=20px><p>The total area of the building in square feet.</p></font></h2><br>
      <h2><font size=20px><p>Building Age</p></font></h2><br>
      <h2><font size=20px><p>Age of the building in years.</p></font></h2><br>
      <h2><font size=20px><p>VCMUN ID</p></font></h2><br>
      <h2><font size=20px><p>This is the VCMUN ID which again plays a major role in determining the damage taken by the building.</p></font></h2><br>
      <h2><font size=20px><p>Area Assesed</p></font></h2><br>
      <h2><font size=20px><p>The total area assesed.</p></font></h2><br>
  </div>
</body>